$black2: #333;
$black1: #111;
$borderC: #444046;
$bgC: #0e0c13;
$anchors: #ddd;
$lightGrey: #999;
$whiteC: #fff;
$main-color: rgb(200, 10, 34);
$black-dark: #111;
$gallery-color: rgb(143, 143, 143);
$secondary-Blue: #2196f3;
$third-Blue: #90caf9;
$orange: #fb9931;
$nav-blue: #1976d2;
