@import 'mixins';

section {
    flex: 2 100%;
    position: relative;
    @include medium-screen {
        flex: 3.3;
    }
}
//Post container Styles

.post {
    box-sizing: border-box;
    display: block;
    margin: 1em auto 0;
    padding: 0.5em;
    border-left: 1px solid $borderC;
    border-right: 1px solid $borderC;
    border-bottom: 1px solid $borderC;
    @include medium-screen {
        width: 48%;
        display: inline-block;
        margin: 0 0.5em 2em 0;
    }
}
//////////////////////////////
//Post Date

.post__date {
    height: 1em;
    font-size: 0.8rem;
    color: $anchors;
}
//////////////////////////////
//Post title

.post__title {
    display: flex;
    padding: 0.5em 0;
    font-size: 1.5rem;
    font-weight: normal;
}
//////////////////////////////
//Post Author

.author {
    height: 1rem;
    font-size: 0.9rem;
    color: $orange;
}
//////////////////////////////
//Image container

.post__img-cont {
    margin: 1em 0;
}
//////////////////////////////
//Post image

.post__img {
    max-width: 100%;
    height: auto;
    display: block;
}
//////////////////////////////
//post text

.text {
    width: 100%;
    height: 8em;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    text-align: justify;
    word-wrap: break-word;
    overflow: hidden;
}
//////////////////////////////
//Like cont and like icon

.post__like-cont {
    width: 5em;
    display: flex;
    float: left;
    text-align: center;
    align-items: inherit;
}

.post__likes-val {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    line-height: 1.7;
}

.post__like-anchor {
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
//////////////////////////////
//read more anchor

.read-more {
    width: 5em;
    float: right;
    line-height: 1.7;
    color: $orange;
    cursor: pointer;
}
//////////////////////////////
.blog-post {
    padding: 10px 10px 0;

    label,
    textarea {
        width: 100%;
        display: inline-block;
        margin-top: 10px;
    }

    button {
        margin: 0 -10px;
        border: none;
        outline: none;
        font-size: 1rem;
        cursor: pointer;
    }

    .btn-submit {
        background-color: $orange;
        float: right;
    }

    .btn-cancel {
        display: inline-block;
        margin-left: -10px;
        background-color: #c80a22;
    }
}

.btn {
    height: 31px;
    width: 30%;
    line-height: 1.7;
    text-align: center;
    color: #fff;
}

.single-post--post {
    height: auto;
}
